/* regola css

selettore + { blocco di codice + 
    
    dichiarazione = property : value 

} 

*/

/* primo selettore = element selector */
/* secondo selettore = id selector */
/* terzo selettore = class selector */

body {

    padding: 0;
    margin: 0;
}

#testo {

    color: green;

}

.paragrafo {

    color: brown;
    font-size: large
}

h1, h2, h3 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* group selector */

ul>li {

    font-size: larger;
    color: green;
}

/* direct child selector */


* {
    text-align: center;
}


.box {

    width: 50vw; /*viewport widht */
    height: 50vh; /* viewport height */
    border: 5px;
    border-style: solid;
    border-color: black;
}

.circle {

    width: 10vmin;
    height: 10vmin;
    background-color: blue;
    border-radius: 50%;

}

.scatola {

    text-align:center;
    width: 300px;
    height: 300px;
    background-color: green;
    /*
    border: 5px;
    border-color: blue;
    border-style: solid;
    */

    border: 5px blue solid; /* shorthand values */
    margin: 40px 0px; /* due valori top-bottom right-left SHORTHAND PROPERTIES */
    padding: 30px; /* imbottitura */
}

/* DISPLAY BLOCK INLINE NONE */

.block  {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block; /* INLINE TIENE CONTO DEL CONTENUTO, INLINE-BLOCK DEL CONTENITORE */
    
}

.block1  {
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    
}

.navbar {

    width: 100vw;
    height: 150px;
    border: 2px solid green;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item   {

    width: 400px;
    height: 50%;
    border: 1px solid black;
    border-radius: 10%;
}