h1 {

    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;

}

h2 {

    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {

    color: red;
    font-style: italic;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}