body {
    margin: 0px;
    padding: 0px;
    background-color: beige;
}

dl {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    font-size: 18px;
    padding: 10px;
    background-color: black;
    display: flex;
}

dt {

    margin: 15px;
    padding: 15px;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    
    margin-top: 150px;
    text-align: center;
    font-size: 54px;
    color: steelblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#contenitore {

    margin: auto;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.card {

    border: 6px;
    border-style: solid;
    border-radius: 15%;
    padding: 15px;
    border-color: black;
    margin: 50px;

}

h2 {
    margin: 10px;
    font-size: 35px;
    color: dimgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 23px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

picture {
    margin: 10px;
}

#art {
    display: flex;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    margin-left: 125px;
    font-size: 72px;
    text-align: right;
    text-align: center;
}

.imgArt {
    margin-right: 50px;
    display: block;
    margin-left: auto;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    text-align: center;
    color: dimgrey;

    margin: 50px;

    margin-bottom: 200px;

}