:root {
  --font-fredoka-: 'Fredoka One', cursive;
  --font-poppins-: 'Poppins', sans-serif;
  --font-lato-: 'Lato', sans-serif;
  --aero-blue-: #BFFFF1;
  --aquamarine-: #7CFFCB;
  --turquoise-: #74F2CE;
  --slimy-green-: #286d26;
  --forest-green-: #0A3200;
  --brown-: #483929;
}

.dark-green {
  color: var(--forest-green-);
}

.slimy-green {
  color: var(--slimy-green-);
}

.dark-brown {
  color: var(--brown-);
}

.font-fredoka {
  font-family: var(--font-fredoka-) !important;
}

.font-poppins {
  font-family: var(--font-poppins-) !important;
}

.font-lato {
  font-family: var(--font-lato-) !important;
}

.bg-presto-light {
  background: hsla(0, 0%, 100%, 0.55);
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: var(--font-lato-);
}

body {
  /*   background: rgb(198,240,200);
  background: radial-gradient(circle, rgba(198,240,200,1) 42%, rgba(213,242,188,1) 89%); */
  background-color: #C7F0C8;
}

footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 47%, transparent 74%);
}

/* HEADER STYLE */

#header-main {
  height: 110px;
  background-image: url('/public/media/header14.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  #header-main {
    height: 200px;
  }
}

.header-text {
  color: white;
  /* backdrop-filter: blur(1px); */
  border: none;
  padding: none;
  text-shadow: 3px 3px 3px black;
  /* text-shadow: 2px 2px 2px white; */
  font-family: var(--font-fredoka-);
}

/* VIDEO HOMEPAGE */

#head {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#head video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 80vh;
  height: 80vh;
  clip-path: inset(1px 1px);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#head::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(199, 240, 200);
  background: linear-gradient(0deg, rgba(199, 240, 200, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(199, 240, 200, 1) 100%);
  z-index: 1;
}

#head .container {
  position: relative;
  z-index: 2;
}

/* BOTTONE LANDING PAGE */
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--forest-green-);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--forest-green-);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#arrow-horizontal {
  fill: var(--forest-green-);
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* PERSONALIZZAZIONE FORM */

#form-layout-custom {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* GENERIC BUTTON */

.button-custom {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid green;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: green;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-custom:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: green;
  z-index: -1;
}

.button-custom:hover,
.button-custom:focus {
  color: white;
}

.button-custom:hover:before,
.button-custom:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-custom:active {
  transform: scale(0.9);
}

/* BUTTON SMALL */

.button-custom-small {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 1em;
  border: 3px solid green;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: green;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-custom-small:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: green;
  z-index: -1;
}

.button-custom-small:hover,
.button-custom-small:focus {
  color: white;
}

.button-custom-small:hover:before,
.button-custom-small:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-custom-small:active {
  transform: scale(0.9);
}

/* BUTTON REDIRECTED BACK */

.button-custom-redirect {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 1em;
  border: 3px solid var(--forest-green-);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--forest-green-);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-custom-redirect:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--forest-green-);
  z-index: -1;
}

.button-custom-redirect:hover,
.button-custom-redirect:focus {
  color: white;
}

.button-custom-redirect:hover:before,
.button-custom-redirect:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-custom-redirect:active {
  transform: scale(0.9);
}


/* PERSONALIZZAZIONE BADGE */
.badge-rev {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

/* PERSONALIZZAZIONE CARD */
.scheda {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
  max-height: 400px;
  border: 0;
  box-shadow: 3px 3px 30px dimgray;
}

.titolo-scheda {
  height: 56px;
  width: 100%;
  font-size: 24px;
  color: white;
  font-family: var(--font-lato-);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(17, 17, 17, 0.5);
}

.badge:hover {
  color: white;
  box-shadow: 3px 3px 10px rgb(30, 64, 216);
}

.cancel-btn {
  position: relative;
  overflow: hidden;
}

.cancel-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  bottom: 0;
  left: 0;
  animation: charging_bar 5s linear;
}

@keyframes charging_bar {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.anteprima {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;

}

.anteprima::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.5s;
}

.delete-img {
  position: absolute;
  left: 25%;
  top: 25%;
  background-image: url(/public/media/cancel.png);
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: none;
  transition: 0.5s;

}

.anteprima:hover .delete-img {
  display: block;
}

.anteprima:hover:before {
  opacity: 0.5;
}

/* PREVIEW SHOW CARDS */
*,
*::before {
  border-radius: 0px !important;
}

/* SEARCH TAB */

#searchbar {
  font-family: var(--font-poppins-) !important;
  font-size: smaller;
  border: none;
  border-radius: 50px;
  background-color: #f3f1f1;
  width: 300px;
}


#searchbar:focus {
  border-radius: 27px;
  background: linear-gradient(145deg, #f3f1f1, #ffffff);
  box-shadow: 3px 3px 8px #d9d9d9,
    -3px -3px 8px #ffffff;
}


/* NAVBAR FOR CATEGORIES */

#categories-nav {
  background-color: var(--forest-green-);
  color: white;
}

/* DROPDOWN MENU */

.dropdown-layout {
  background-color: #CCF1C3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 998px) {
  .dropdown-layout {
    width: 150px;
  }
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.archive img {
  height: 100px;
}

.archive:hover {
  background-color: hsla(0, 0%, 100%, 0.55);
}

.border-archive {
  border-bottom: 1px solid var(--slimy-green-);
}

/* REVISOR CARD */

.rev-shadow {
  box-shadow: 3px 3px 30px dimgray;
}

.rev-pannel {
  background-color: var(--forest-green-);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  list-style-type: none;
}

.msg-send {
  position: relative;
  overflow: hidden;
}

.msg-send::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background-color: white;
  bottom: 0;
  left: 0;
  animation: charging_bar 3s linear;
}

/* WORK WITH US */

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

/* SHOW DIVIDER */

.divider {
  opacity: 0.4;
  width: 85%;
  border: 1px solid var(--slimy-green-);
  border-radius: 20px;
  margin: auto;
}