body {
    margin: 0;
    background: url('./media/backg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    height: 77vh;
    width: 100vw;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

#elements {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#topNav {
    position: absolute;
    width: 100%;
    height: 10px;
}

#topNav::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 10px;
    height: 100%;
    border-top: 4px solid white;
    border-left: 4px solid white;
}

#topNav::after {
    position: absolute;
    right: 5px;
    top: 5px;
    content: "";
    width: 10px;
    height: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
}

#bottomNav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}

#bottomNav::before {
    position: absolute;
    bottom: 5px;
    left: 5px;
    content: "";
    width: 10px;
    height: 100%;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

#bottomNav::after {
    position: absolute;
    right: 5px;
    bottom: 5px;
    content: "";
    width: 10px;
    height: 100%;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}


.button {

    transition: 0.2s;
    padding: 10px;
    position: relative;
    color: white;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
}

.topButton {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
}

.topButton::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.topButton::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.bottomButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
}

.bottomButton::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 5px;
    height: 100%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.bottomButton::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    content: "";
    width: 5px;
    height: 100%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.button:hover {
    transform: scale(120%);
}

.title {
    position: relative;
    margin-top: 4vh;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    
}

.title h1 {
    position: absolute;
}

.title h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
  }
  
  .title h1:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

section {
    margin-top: 23vh;
    height: 77vh;
}

#container {
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.card {
    width: 50vmin;
    height: 50vmin;
    box-shadow: 2px 2px 20px black;
    padding: 20px;
    text-align: end;
    position: relative;
}

#card1 {
    transition: 0.2s;
    background-image: url('./media/steamdeck.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#card2 {
    transition: 0.2s;
    background-image: url('./media/myioo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#card3 {
    transition: 0.2s;
    background-image: url('./media/switch.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#card1:hover, #card2:hover, #card3:hover {
    transform: scale(110%);
    opacity: 1;
}

.card:hover .read::before {
    transform: translateX(0);
}

h2 {
    font-family: 'Press Start 2P', cursive;
    line-height: 120%;
    color: white;
}

#tit1, #tit3 {
    position: absolute;
    bottom: 20px;
    margin: 15px;
}

#tit2 {
    position: absolute;
    margin: 15px;
}

.read {
    font-family: 'Press Start 2P', cursive;
    margin: 15px;
    right: 0px;
    padding: 5px;
    font-size: large;
    color: white;
    position: absolute;
    overflow: hidden;
}

.read::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    transform: translateX(-100%);
    transition: 0.2s;
}

#card2 > .read {
    bottom: 15px;
}

a {
    text-decoration: none;
}

#line {
    margin-top: 50px;
    width: 100vw;
    height: 8px;
    background: rgb(0,4,70);
    background: linear-gradient(90deg, rgba(0,4,70,0.6870098381149334) 0%, rgba(0,0,78,0.8858893899356618) 51%, rgba(0,212,255,1) 100%);
    position: relative;

}

article {
    padding-top: 100px;
    background: rgba(255,255,255,0.6);
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}

picture {
    margin-left: 100px;
    float: left;
}

h3 {
    font-size: 32px;
}

table {
    padding-left: 40px;
}

th {
    width: 230px;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
}

