body {
    background-image: url("./media/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    backdrop-filter: blur(30px);
    font-family: 'Indie Flower', cursive;
    box-shadow: 3px 3px 20px black;
}

header {
    margin-top: 20vh;
}

.navbar-brand {
    font-size: 40px;
}

#navbarControl {
    font-size: 30px;
    color: white;
}

section {
    animation-name: cascade;
    animation-duration: 0.8s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.ricetta {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
    box-shadow: 10px 10px 30px black;
    margin: 40px;
}

.card-img-top {
    opacity: 0.9;
}

.ricetta:hover {
    transform: scale(105%);
}

.ricetta:hover img {
    opacity: 1;
}

.articolo {
    padding: 30px;
    color: rgb(49, 49, 49);
    position: relative;
}

a {
    text-decoration: none;
}

.linea {
    margin-top: 1px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    position: absolute;
}

.linea::before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 80%;
    height: 2px;
    background-color: rgb(154, 153, 153);
    transform: translateX(-100%);
    transition: 0.3s;
}


.ricetta:hover .linea::before {
    transform: translateX(0);
}

footer {
    backdrop-filter: blur(30px);
    font-family: 'Indie Flower', cursive;
    color: white;
}

.ricetta::before {
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

img {
    border-radius: 50%;
}

h1 {
    color: white;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px 10px white;
    animation-name: cascade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

#carosello {
    animation-name: cascade;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes cascade {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
 
}

.scrollDown {
    text-align: center;
    font-size: 40px;
    color: white;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    from { opacity: 0; transform: translateY(-100%);}
    to { opacity: 1; transform: translateY(80%);}
}