@font-face {
    font-family: Robtronika;
    src: url("./Font/Robtronika-4Bq8p.ttf");
}

@font-face {
    font-family: NarrowRectangle;
    src: url("./Font/NarrowRectangle7-yA0m.ttf");
}

.text-p {
    font-family: Robtronika, sans-serif;
}

.text-s {
    font-family: NarrowRectangle, sans-serif;
}

.preloader {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #000;
    animation: loading 1.2s linear;
    animation-fill-mode: forwards;
    z-index: 9999;
}

@keyframes loading {
    100% {
        visibility: hidden;
    }
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, black);
    z-index: 1;
}

.typing {
    width: 11ch;
    animation: typing 1.1s steps(13), blink .5s step-end infinite alternate;
    animation-delay: 1.2s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

h2 {
    animation-name: titleEntry;
    animation-duration: 0.8s;
    animation-delay: 1.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes titleEntry {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

nav {
    animation-name: naventry;
    animation-duration: 0.6s;
    animation-delay: 1.2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes naventry {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

.nav-link {
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.nav-link:hover {
    transform: scale(110%);
}

.nav-link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: translateX(-101%);
    transition: 0.2s;

}

.nav-link:hover::before {
    transform: translateX(0);
}

.logo {
    transition: 0.2s;
    border: 2px solid white;
}

.logo:hover {
    transform: scale(120%);
}

.bg-section1 {

    background: linear-gradient(rgba(0, 0, 0, 1), transparent, rgba(0, 0, 0, 1)), url("./image.jpg");
    background-position: center;
    background-size: cover;

}

.bg-colors {
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
    z-index: 1;
}

.bg-colors:before,
.bg-colors:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bg-colors:after {
    filter: blur(50px);
}

.text-section {
    position: relative;
}

.text-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -11px;
    left: 0;
    background-color: white;
}

.text-section::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    bottom: -11px;
    right: 0;
    background-color: white;
}