* {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --backbeige: #ececec;
    --maincol: darkred;
}

.nav-link {
    color: var(--maincol);
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.1)), url('./media/switzerland-862870_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titolo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--maincol);
}

.images {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-family: 'Nova Square', cursive;
}

.primaSezione {
    background-color: var(--backbeige);
    position: relative;
}

.virgoletteUp {
    font-weight: bold;
    font-size: 50px;
    color: var(--maincol);
    position: absolute;
    margin-top: -15px;
    margin-left: -25px;
}

.virgoletteDown {
    font-weight: bold;
    font-size: 50px;
    color: var(--maincol);
    position: absolute;
    margin-top: 5px;
}

.bi {
    font-size: 60px;
}

.cardFirst {
    border-bottom: 5px solid darkred !important;
    color: darkred !important;
    position: relative;
}

.cardFirst::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    bottom: -15px;
    left: 47%;
    border: 3px solid var(--maincol);
}

button {
    background-color: darkred !important;
    margin: 50px;
    margin-bottom: 240px;
    font-family: 'Rajdhani', sans-serif !important;
    color: white !important;
    z-index: 1;
}

.timeline {
    border-left: 5px solid var(--maincol);
    position: relative;
}

.timeline::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--maincol);
    left: -13px;
}

.secondaSezione {
    position: relative;
}

.trees {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}

.team {
    width: 20vh;
    border-radius: 50%;
    border: 3px solid var(--maincol);
    padding: 10px;
}

.terzaSezione {
    background-color: var(--backbeige);
    position: relative;
}

.imgBenefit {
    width: 300px;
    border-radius: 50%;
    border: 3px solid var(--maincol);
    padding: 10px;
}

.footerImg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--backbeige);
}

footer {
    background-color: var(--maincol);
}