* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --maincol: #1566C0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('./media/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-family: 'Righteous', cursive;
}

h2 {
    color: var(--maincol);
}

h3 {
    padding: 0 !important;
    color: white;
    border-bottom: 2px solid yellow;
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
}

.firstCard {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('./media/1.png');
}

.secondCard {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('./media/2.png');
}

.thirdCard {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('./media/3.png');
}

.fourthCard {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('./media/4.png');
}

.ocean {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}

.wave {
    background: url('./wave.svg') repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.secSection {
    height: 60vh;
}

.icona {
    width: 60px;
    height: 60px;
}

.imgRounded {
    border-radius: 50%;
    border: 3px solid var(--maincol);
    padding: 10px;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 5px;
    background-color: var(--maincol);
    left: 0;
    bottom: 0;
}

.timelineRight {
    position: relative;
}

.timelineRight::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 5px;
    background-color: var(--maincol);
    right: -5px;
    bottom: 0;
}

.timeline::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--maincol);
    left: -12px;
    top: -10px;
    z-index: 10;
}

.timelineRight::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--maincol);
    right: -18px;
    top: -10px;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .timelineRight::after {
        left: -12px;
        top: -45px;
    }

    .timelineRight::before {
        left: 0;
    }

}

footer {
    height: 70vh;
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(0, 0, 0, 0.4)), url('./media/footer.jpg');
}