@font-face {
    font-family: MoviePoster;
    src: url("/font/MoviePosterPersonalUse-axyeE.ttf");
}

body {
    background-color: #FCB582;
}

.text-p {
    font-family: 'Lobster Two', cursive;
}

.text-s {
    font-family: 'Titillium Web', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.nav-link {
    text-shadow: 1px 2px black;
}

.title {
    position: absolute;
    right: 5%;
    bottom: 17%;
    color: rgb(110, 110, 110) !important;
    z-index: 3;
}

h1 {
    text-shadow: 2px 2.5px black;
}

.nav-item {
    position: relative;
    text-decoration: none;
}

.nav-item::before {
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.nav-item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 50px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85;
}

#listMovies {
    width: 300px;
}

#listMovies>option {
    width: 300px;
}


@media screen and (max-width: 576px) {
    header video {

        left: 100%;

    }

    h2 {
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px black;
    }
}