nav {
  background-color: rgba(255,255,255,0.6);
}

.logo {
  position: relative;
  width: 100px;
  height: 0;
}

.logo .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
}

.logo img {
  width: 100%;
  padding: 0.5em;
}

header {
  height: 95vh;
  background-image: url('./media/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btnMain {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 30px;
  min-height: 35px;
  outline: 0;
  padding: 25px 32px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: 0.2s;
}

.btnMain:hover,
.btnMain:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.btnMain:active {
  opacity: .5;
}

h1 {
  text-shadow: 0 0 3px #ffffff, 0 0 5px #000000;
  font-family: 'Outfit', sans-serif;
  animation-name: entry;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes entry {
  from {
      opacity: 0;
      transform: translateX(-60px);
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }

}

.firstBtn {
  animation-name: entryBtn;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes entryBtn {
  from {
      opacity: 0;
      transform: scale(50%);
  }
  to {
      transform: scale(100%);
      opacity: 1;
  }

}